html, body {
	width:100%;
	height:100%;
}
body {
	font-family: 'Arial';
	margin:0;
	padding:0;
	color:#888;
	font-size:14px;
	width:100%;
	line-height:20px;
	background:#414141;
	position:relative;
	overflow-x:hidden;
}
#wrapper{
	position:absolute;
	width:100%;
	bottom:0;
	top:0;
}
p{
	padding-bottom:18px;
	font-size:14px;
	line-height:20px;
}
img {
	border:0;
	max-width:100%;
}
form {
	padding:0;
	margin:0;
}
a {
	outline:none;
	color:#ffcc00;
	font-size:14px;
	text-decoration:none;
}
a:hover { text-decoration:none;
}
.aligncenter{text-align:center;
}
.fright{float:right;
}
.fleft{float:left;
}
.font {
	font-family: 'Cabin', sans-serif;
	font-weight:400; /* Normal */
	font-weight:700; /* Bold */
}

#first_line {background:url(../images/main_bg.png) repeat left top;height:25px;
}
header{
	position:relative;
	border-top:5px solid #ffcc00;
	background:#414141;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
#container{
	position:absolute;
	width:100%;
}
#logo {margin-bottom:20px;
}
/* ______________________ SOCIALS ___________________________ */
#socials {
	padding:12px 0 0 0;
	margin-right:17px;
}
#socials li {
	display:inline-block;
	padding-right:20px;
}

#socials li a {
	display:block;
	height:16px;
}

.soc1 a{
	background:url(../images/socials.png) no-repeat 0 0;
	width:19px;
}
.soc2 a{
	background:url(../images/socials.png) no-repeat -39px 0;
	width:8px;
}
.soc3 a{
	background:url(../images/socials.png) no-repeat -67px 0;
	width:13px;
}
.soc4 a{
	background:url(../images/socials.png) no-repeat -100px 0;
	width:14px;
}
.soc5 a{
	background:url(../images/socials.png) no-repeat -133px 0;
	width:8px;
}

.soc1 a:hover {background:url(../images/socials.png) no-repeat 0 -20px;
}
.soc2 a:hover {background:url(../images/socials.png) no-repeat -39px -20px;
}
.soc3 a:hover {background:url(../images/socials.png) no-repeat -67px -20px;
}
.soc4 a:hover {background:url(../images/socials.png) no-repeat -100px -20px;
}
.soc5 a:hover {background:url(../images/socials.png) no-repeat -133px -20px;
}
/* _________________________ //SOCIALS _________________________ */

section#content{
}

section#content .inner{
	background:url(../images/main_bg.png) repeat left top;
	padding:0;
	height:100%;
	overflow:hidden;
	width:100%;
}

/*MainMenu*/
.btn_dropdown {display:none !important;}

nav#menu{
	position:relative;
	margin:0;
}
.mainmenu {
	margin:0;
	padding:0;
	position:relative;
	z-index:9999;
	*left:19px;
	left:0;
}

.menu_block {
}

.mainmenu li {
	float:left;
	position:relative;
	margin:0;
	padding:0;
	text-align:center;
	z-index:200;
}
.mainmenu li.act,
.mainmenu li:hover {
}

.mainmenu li a {
	display:inline-block;
	padding:36px 0 26px 0;
	line-height:22px;
	width:100px;
	color:#7a7a7a;
	font-size:14px;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	text-decoration:none;
	text-transform:uppercase;
}

.mainmenu li.act a,
.mainmenu li:hover a{
}
.mainmenu li.last a {background:none;
}
/*Submenu*/
.level1 {
	left:0;
	top:88px;
	z-index:9999 !important;
	background:#414141;
}
.level1 li {
	padding:0 !important;
	border-left:none !important;
	width:161px;
}
.mainmenu li ul.sub_menu { margin:0; padding:0; position:absolute; overflow:visible;
}
.mainmenu li ul.sub_menu li {
	float:left;
	position:relative;
	z-index:9999;
}
.mainmenu li ul.sub_menu li a {
	display:block;
	padding:5px 0 5px 16px;
	line-height:22px;
	font-size:14px;
	color:#7a7a7a;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	text-transform:none;
	text-align:left;
}
.mainmenu li ul.sub_menu li:hover, .mainmenu li ul.sub_menu li.act{
	background:#ffcc00;
}
.ajaxed_content{
	height:100%;
}

/* ________________________ MENU effect _____________________ */
.nav a {
    display: block;
    position: relative;
}
.nav a:hover {
}
.effect {
	position: absolute;
	left: 0;
	transition: 0.7s ease-in-out;
}
.nav li:nth-child(1):hover ~ .effect {
	left: 0; /* �������� ������� <a> */
}
.nav li:nth-child(2):hover ~ .effect {
	left: 100px;  /* �������� ������� <a> */
}
.nav li:nth-child(3):hover ~ .effect {
	left: 200px; /* �������� �������� <a> */
}
.nav li:nth-child(4):hover ~ .effect {
	left: 300px; /* �������� ���������� <a> */
}
.nav li:nth-child(5):hover ~ .effect {
	left: 400px; /* �������� ���������� <a> */
}
.nav li:nth-child(6):hover ~ .effect {
	left: 500px; /* �������� ���������� <a> */
}

.ph-line-nav .effect {
	position:relative;
	top:0;
	z-index:100;
	width: 100px;
	height: 87px;
	bottom: 36px;
	background: #ffcc00;
	margin-left:0;
}

/* _______________________ //MENU effect ____________________ */

.wrap{
	height:100%;
	margin:30px auto 0 auto;
	position:relative;
}
.indent{padding:0;height:100%;margin:56px 0 60px 0;
}

.indent1{padding:25px 7px 25px 23px;
}
.pos-rel{position:relative;
}
.divider{
}
.divider.pos1{
	left:66%;
}
.divider.pos1{
	left:66%;
}
.divider.pos2{
	left:49%;
}
.indent .divider{
	left:32.8%;
}
.indent .divider.pos1{
	left:67.2%;
}
.indent .divider.pos2{
	left:49.9%;
}
.spacer{
	height:2px;
	background:url(../images/spacer.gif) 0 0 repeat-x;
	margin:25px 0;
}
.scroll{
	height:1050px;
	overflow:auto;
	margin-top:-89px;
}
.scroll1{height:430px;
}

.shadow{
	width:100%;
	margin-bottom:30px;
}

/* ________________________ SLIDER ________________________ */
.mask {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background:url(../images/slider_bg.png) repeat;
	z-index:100;
}
/* _______________________ //SLIDER _______________________ */

/* _________________________ ABOUT _________________________ */
.breadcrumb {
  position:relative;
  top:0;
  left:0;
  background:url(../images/main_bg.png) repeat left top;
  padding: 0 2px 4px 2px;
  margin:30px 0 30px 0;
  border-bottom:1px solid #b1b1b1;
  list-style: none;
  color:#ffcc00;
  font-size:12px;
  z-index:1000;
}
.breadcrumb span {
  color:#5a5a5a;
  padding:0 5px;
}
.breadcrumb a {
  color:#494949;
  font-size:12px;
}
.breadcrumb a:hover {text-decoration:underline;
}
.breadcrumb_title {
	font-size:30px;
	color:#1c1c1c;
	text-transform:uppercase;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	line-height:32px;
	padding-bottom:2px;
	letter-spacing:-1px;
}

.about_block img {
	float:right;
	margin:0 0 10px 27px;
}
p.morbi_text {
	float:left;
	margin:0 0 55px 0;
	padding:2px 22px 3px 22px;
	color:#666666;
	font-style:italic;
	border-left:2px solid #ffcc00;
}

ul.sedutper_sp {
	list-style-type:none;
	margin:0 0 70px 17px;
}
.sedutper_sp li {
	background:url(../images/sedutper_sp_bg.png) no-repeat left top;
	line-height:16px;
	margin:0 0 26px 0;
	padding:0 0 0 24px;
}
.sedutper_sp li:first-child {margin-top:13px;}

.sedutper_sp a:hover {text-decoration:underline;
}
/* _________________ CAROUSEL ________________ */
.carousel {
  position: relative;
  line-height: 20px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel .item > img {
  display: block;
  line-height: 1;
}

.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}

.carousel .active {
  left: 0;
}

.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .next {
  left: 100%;
}

.carousel .prev {
  left: -100%;
}

.carousel .next.left,
.carousel .prev.right {
  left: 0;
}

.carousel .active.left {
  left: -100%;
}

.carousel .active.right {
  left: 100%;
}

#testimonials_carousel .carousel-control {
  position: absolute;
  top: 116px;
  width: 31px;
  height: 91px;
  outline:none;
}
#testimonials_carousel .carousel-control.right {
	background:url(../images/carousel_arrows.png) no-repeat;
	background-position:-34px 0;
	right:0;
}
#testimonials_carousel .carousel-control.left {
	background:url(../images/carousel_arrows.png) no-repeat;
	background-position:0 0;
	left:0;
}
#testimonials_carousel .carousel-control.right:hover {
	background-position:-34px -93px;
}
#testimonials_carousel .carousel-control.left:hover {
	background-position:0 -93px;
}

/* _________________________ TESTIMONIALS2 __________________________ */
#testimonials_carousel2 .carousel-control {
  position: absolute;
  top: -42px;
  width: 9px;
  height: 13px;
  outline:none;
}
#testimonials_carousel2 .carousel-control.right {
	background:url(../images/carousel_arrows2.png) no-repeat;
	background-position:-10px 0;
	right:0;
}
#testimonials_carousel2 .carousel-control.left {
	background:url(../images/carousel_arrows2.png) no-repeat;
	background-position:0 0;
	right:20px;
}
#testimonials_carousel2 .item  img {
	float:left;
	margin:0 18px 10px 0;
}
#testimonials_carousel2 .carousel-control.right:hover {
	background-position:-10px -13px;
}
#testimonials_carousel2 .carousel-control.left:hover {
	background-position:0 -13px;
}
/* _________________________ //TESTIMONIALS2 __________________________ */

.testimon_block {
	padding:0;
	margin-bottom:30px;
}
.testimon_block p {
	padding:15px 27px 16px 15px;
	background:#fff;

}
.author {
	background:url(../images/author_bg.png) no-repeat left top;
	padding:6px 0 4px 0;
	margin:0 0 0 20px;
	font-size:16px;
	line-height:20px;
	color:#929292;
}
.author_text {color:#666666;}

#testimonials_carousel img {
    float: left;
    margin: 5px 18px 10px 0;
}
/* _________________ SKILLS ________________ */
#skills_block li {
	background:#414141;
	width:100%;
	height:49px;
	margin-bottom:10px;
	border:1px solid #4e4e4e;
}
#skills_block li span {
	display:block;
	border-right:1px solid #4e4e4e;
	background:#ffcc00;
	padding:15px 0 14px 0;
	color:#414141;
	font-family:'Cabin';
	font-weight:400;
	font-size:16px;
}
.skill1 {width:60%;
}
.skill2 {width:70%;
}
.skill3 {width:50%;
}
.skill4 {width:65%;
}
#skills_block {margin-bottom:83px;
}
/* _________________________ //SKILLS _______________________ */
/* ________________________________________ BLOG __________________________________________ */
.widget {margin-bottom:30px;}

h2.title3 a,
h3 {
	text-transform:uppercase;
	font-size:18px;
	line-height:22px;
	color:#ffcc00;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
}
h2.title3 a:hover {color:#ffcc00;
}
h2.title3 {margin:0 0 8px 0;}

.popular_block {margin-bottom:20px;}
.popular_block a {color:#636363;}
.popular_block a:hover {color:#f99630;text-decoration:none;}
h3 {
	margin:0 0 4px 0;
	padding:0 0 10px 0;
}
.pop_text {padding-top:7px;}
img.popular_img {
	float:left;
	margin:0 18px 10px 0;
}

.blog_img_marg {margin:0 0 25px 0 !important;
}
.blog_img_marg img {width:100%;}
a.post_link:hover {text-decoration:underline;
}

img.blog_icon_big {margin-bottom:40px;
}
.post_info ul {
	margin-bottom:18px;
}
.post_info li {
	display:block;
	padding:0;
	margin:0 0 15px 0;
}

.post_info li a {
	padding:4px 0 0 28px;
	font-size:12px;
	line-height:20px;
	color:#6f6f6f;
	width:19px;
}

a.post_date {background:url(../images/blog_icon2.png) no-repeat left bottom;
}
a.post_category {background:url(../images/blog_icon1.png) no-repeat left bottom;
}
a.otzv_link {background:url(../images/blog_icon3.png) no-repeat left bottom;
}
a.devilcantburn {background:url(../images/blog_icon4.png) no-repeat left bottom;
}
.post_info li:hover a {
	text-decoration:none;
	color:#ffcc00;
}

a.post_link {
	text-transform:none;
	font-family: 'Cabin', sans-serif;
	font-size:16px;
	font-weight:400;
}

.date_block {
	float:left;
	display:block;
	padding:0;
	margin-right:30px;
	margin-top:5px;
	margin-bottom:5px;
	background:#ffcc00;
	text-transform:uppercase;
	text-align:center;
	font-family:'Cabin';
	font-weight:400;
	color:#fff;
}
.date_block span {
	display:block;
	margin:0;
	padding:9px 7px;
	font-size:33px;
	line-height:36px;
}
.date_block p {
	background:#2c2f31;
	font-size:18px;
	line-height:20px;
	margin:0;
	padding:4px 18px;
}

.left_inf_blok {
	float:left;
	width:150px;
	padding:0 20px 0 0;
}
.post {
	float:left;
	width:530px;
}
.blog_full_block {
	border-bottom:1px solid #494949;
	padding:0 0 36px 0;
	margin:0 0 40px 0;
}

/* ______________________ SEARCH ________________________ */
.top_search {
	width:100%;
	padding:0;
	margin:0;
	height:33px;
	position:relative;
}
.top_search input[type="text"] {
	font-family: Arial;
	font-size:14px;
	color:#707070;
	background-color: #414141;
	border: 1px solid #505050;
	width:155px;
	height:22px;
	padding:5px 40px 4px 23px;
	margin:0;
}
.search_btn {
	width:34px !important;
	height:33px !important;
	background: url(../images/search_btn.png);
	background-position:0 0;
	background-repeat:no-repeat;
	border:0;
	cursor:pointer;
	padding:0;
	margin:0;
	display:block;
	cursor:pointer;
	position:absolute;
	right:0;
	top:0;
}
.search_btn:hover {background-position:0 -33px;
}
/* _____________________ //SEARCH _______________________ */
.blog_categories_block li {
	border-bottom:1px solid #494949;
	padding:6px 0 5px 0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.blog_categories_block li:last-child {border-bottom:none !important;}
.blog_categories_block li:hover {
	padding:6px 0 5px 20px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.blog_categories_block li a {
	background:url(../images/categories_link_bg.png) no-repeat;
	padding:2px 0 0 24px;
	color:#888;
	font-size:14px;
}
.blog_categories_block li:hover a {
	background-position:0 -32px;
	color:#ffcc00;
}

.popular_block {margin-bottom:20px;}
.popular_block a {color:#888;font-size:14px;}
.popular_block a:hover {color:#ffcc00;text-decoration:none;}
.pop_text {padding:7px 0 0 0;}
/* _______________________________________ TAGS ____________________________________________ */
.tags li {
	float:left;
	margin:0 10px 10px 0;
}
.tags a {
	display:block;
	margin:0;
	padding:4px 14px 4px 16px !important;
	color:#dbdbdb;
	background:#707070;
}
.tags a:hover {
	background:#ffcc00;
	color:#414141;
}
/* ______________________________________ //TAGS ___________________________________________ */
/* _______________________________________ //BLOG __________________________________________ */

/* ______________________________________ CONTACT __________________________________________ */
#contacts_block {position:relative;
}
ul.foot_block_intouch {
	position:absolute;
	top:-340px;
	left:631px;
	margin:0;
	padding-top:10px;
}

.foot_block_intouch li {padding-bottom:8px !important;}
.foot_block_intouch li p, .foot_block_intouch a {
	color:#777;
	line-height:21px;
	font-size:14px;
	padding:0 0 0 34px;
	margin:0;
}
.foot_block_intouch li a:hover {color:#ffcc00;text-decoration:none;}

.foot_block_intouch li.touch_phone p {
	background:url(../images/contact_icon.png) no-repeat 0 0;
}
.foot_block_intouch li.touch_clock p {
	background:url(../images/contact_icon.png) no-repeat 0 -98px;
}
.foot_block_intouch li.touch_mail a {
	background:url(../images/contact_icon.png) no-repeat 0 -200px;
}
.foot_block_intouch li.touch_site a {
	background:url(../images/contact_icon.png) no-repeat 0 -318px;
	display:block;
	height:20px;
}
.foot_block_intouch li.touch_adress p {
	background:url(../images/contact_icon.png) no-repeat 0 -435px;
}
/* _____________________________________ //CONTACT _________________________________________ */
footer{
	padding:9px 0 6px 0;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	color:#696969;
	font-size:16px;
	line-height:20px;
	position:relative;
	background:#414141;
	height:46px;
	-webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
}

.copyright {
	padding:10px 0;
	text-transform:uppercase;
}
.copyright a {
	font-size:16px;
	line-height:20px;
}
.copyright a:hover {text-decoration:underline;
}

h2{
	color:#cacaca;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	font-weight:normal;
	font-size:18px;
	line-height:22px;
	margin-bottom:25px;
	padding:0;
	text-align:left;
	text-transform:uppercase;
}

h4{
	color:#3c3a3b;
	font-size:12px;
	line-height:1.2em;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	margin-bottom:8px;
	text-transform:uppercase;
}

.img-container{
	border:0;
	margin-bottom:27px;
}

.img-container img{
	width:100%;
	height:auto;
}
.img-container iframe {	max-width:100%;
}
.img-indent{
	float:left;
	margin:0px 10px 3px 0;
}

.more-link{
	color:#ffcc00;
	text-decoration:none;
	font-size:14px;
	line-height:18px;
	padding:0 0 0 5px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.more-link:hover{
	text-decoration:underline;
}
.top5{
	padding-top:5px;
}

.top10{
	padding-top:10px;
}
.top25{
	padding-top:25px;
}

.testimonials-list{}

.testimonials-list li{
	background:url(../images/quote.png) 0 4px no-repeat;
	padding-left:20px;
	margin-top:25px;
}
.testimonials-list li .author{
	font-size:12px;
	text-align:right;
	padding-top:10px;
	color:#454545;
}
.testimonials-list li:first-child{margin-top:0;}

.events-list{}
	.events-list li{
		font-size:12px;
		color:#7a7a7a;
		margin-top:26px;
		padding-top:28px;
		background:url(../images/spacer.gif) 0 0 repeat-x;
	}
	.events-list li:first-child{
		background:none;
		margin-top:0;
		padding-top:0;
	}
	.events-list li .date{
		float:left;
		width:43px;
		height:42px;
		background:#1e72b9;
		color:#fff;
		line-height:18px;
		font-family: 'Oswald', sans-serif;
		font-weight:300;
		font-size:12px;
		text-align:center;
		text-transform:uppercase;
		margin-right:12px;
		padding-top:2px;

		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
	}
		.events-list li .date .mounth{
			display:block;
			margin-top:-4px;
		}
	.events-list li .title{
		display:block;
		color:#3c3a3b;
		margin-bottom:18px;
		font-size:12px;
		text-transform:uppercase;
		font-family: 'Oswald', sans-serif;
		font-weight:300;
	}


.news-list{}
	.news-list li{
		font-size:12px;
		color:#7a7a7a;
		margin-top:26px;
		padding-top:28px;
		background:url(../images/spacer.gif) 0 0 repeat-x;
	}
	.news-list li:first-child{
		background:none;
		margin-top:0;
		padding-top:0;
	}
	.news-list li figure{
		float:left;
		margin-right:10px;
	}
	.news-list li .date{
		font-family: 'Oswald', sans-serif;
		font-weight:300;
		font-size:12px;
		color:#3c3a3b;
		line-height:1.2em;
		display:block;
		margin-bottom:10px;
	}

.btn_send, .btn_clear {
	display:inline-block;
	cursor:pointer;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:22px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	background:#707070;
	border:0 ;
	padding:6px 18px 5px 18px;
	margin:9px 0 0 0;
}
.btn_send:hover, .btn_clear:hover{ background:#ffcc00;color:#414141;
}
.btn_clear {
	background:#707070;
	color:#fff;
	margin-right:14px;
}

form#contact{position:relative;overflow:hidden;display:block;}
label{
	margin-bottom:14px;
	overflow:hidden;
}
form#contact span{
	color:#7a7a7a;
	display:block;
	padding-bottom:2px;
}


form#contact input[type="text"],
input[type="password"],
input[type="email"],
form#contact textarea,
select {
	border:#4e4e4e 1px solid;
	position:relative;
	background:#414141;
	padding:15px 5px 16px 22px;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	color:#8e8e8e;
	font-size:14px;
}

form#contact input[type="text"] {
	margin:0 22px 20px 0;
	width:569px;
}
#email {margin-right:0 !important;}

form#contact textarea {
	min-height: 102px;
	margin:10px 0 0 0;
	width:95.5%;
	resize: none;
}

.mrgn_bottom {margin-bottom:108px;
}

/* _________________________ GALLERY _______________________ */
.gallery_image {
	background:#fff;
	overflow:hidden;
	position:relative;
}

#filtr_opt {position:relative;}
#filter_img, #filter_video {
	position:absolute;
	left:38px;
	bottom:-124px;
}

#filter_img li, #filter_video li {
	display:inline-block;
	padding:0 4px 0 0;
	cursor:pointer;
	font-size:14px;
	color:#777;
}
#filter_img li:hover,
#filter_video li:hover {
	color:#333;
}

.filter_block {
	height:46px;
	width:100%;
	color:#9f9f9f;
}

.gallery_block {
	float:left;
	margin:0;
	padding:0;
}
.gallery_image img {
	width:100%;
}
.gallery_text {
	text-align:center;
	background:#fff;
	border-right:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	padding:21px 10px 18px;
	font-family:'Cabin';
	font-weight:400;
}
.gallery_text a {
	color:#646363;
	font-size:16px;
	line-height:22px;
}
.gallery_text p {
	padding:0;
	margin:0;
	color:#c1c1c1;
	font-family:14px;
	line-height:22px;
}
.grid_6:hover .gallery_text a {text-decoration:none;color:#ffcc00;}
/* ________________________ //GALLERY ______________________ */

/* _____________________ SHOW_MORE_BLOCKS __________________ */
.show_block {display:none;
}
#load_more_img, #load_more_vid, #load_more_blog {
	width:100px;
	height:22px;
	cursor:pointer;
	font-family: 'Cabin', sans-serif;
	font-weight:400;
	font-size:16px;
	line-height:22px;
	color:#dbdbdb;
	text-decoration:none;
	text-align:center;
	background:#707070;
	border:0 ;
	padding:6px 18px 5px 18px;
	margin:9px 0 10px 0;
}
#load_more_img:hover,
#load_more_vid:hover,
#load_more_blog:hover{ background:#ffcc00;color:#414141;
}
/* ____________________ //SHOW_MORE_BLOCKS _________________ */

.preloader{
	background:url(../images/preload_img.gif) center center no-repeat;
	display:block;
}

.gallery-list li{
	height:100%;
}
.gallery-list a {
	position:relative;
	display:block;
}
.gallery-list li figure{
}
.gallery-list a.photo-title{
	font-family:Arial;
	line-height:1.2em;
	font-size:14px;
	color:#7a7a7a;
	text-decoration:none;
}
.gallery-list a.photo-title:hover{
	color:#1e72b9;
}
.extr{
	overflow:hidden;
}


.zoom{
	display:block;
	position:absolute;
	background-image:url(../images/zoom.png);
	background-repeat:no-repeat;
	background-position:center center;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:5;
}

.zoom_video {
	display:block;
	position:absolute;
	background-image:url(../images/zoom_video.png);
	background-repeat:no-repeat;
	background-position:center center;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:5;
}

.link {
	display:block;
	position:absolute;
	background-image:url(../images/link.png);
	background-repeat:no-repeat;
	background-position:center center;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:5;
}

.zoom.video-play{background-image:url(../images/video-play.png);
}
.gallery-hover{
	background:url(../images/slider-caption-bg.png) 0 0 repeat;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	overflow:hidden;
}
