{
  "env": {
    "development": {
      "plugins": [
        ["transform-define", {
          "__DEV__": "true"
        }]
      ]
    },
    "production": {
      "plugins": [
        ["transform-define", {
          "__DEV__": "false"
        }]
      ],
      "presets": [
        "es2015"
      ]
    }
  },
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
