{
  "env": {
    "production": {
      "plugins": [
        "transform-node-env-inline"
      ],
      "presets": [
        "es2015"
      ]
    }
  },
  "plugins": [
    "dev",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
