{
  "env": {
    "production": {
      "plugins": [
        "transform-inline-environment-variables",
        "transform-node-env-inline",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "presets": [
    "es2015",
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-runtime"
  ]
}
