env:
  es6: true
  node: true
parserOptions:
  ecmaVersion: 6
  ecmaFeatures:
    experimentalObjectRestSpread: true
  sourceType: module
rules:
  comma-dangle: [warn, always-multiline]
  curly: [warn, multi-line]
  indent: [warn, 2, {SwitchCase: 1}]
  no-irregular-whitespace: error
  no-mixed-spaces-and-tabs: warn
  no-undef: error
  no-unused-vars: warn
  object-shorthand: warn
  quotes: [warn, single, avoid-escape]
  semi: [error, never]
  strict: [error, never]
