parser: babel-eslint

ecmaFeatures:
  jsx: true
  modules: true
env:
  es6: true
rules:
  comma-dangle:
    - 2
    - always-multiline
  curly:
    - 2
    - multi-line
  quotes:
    - 2
    - single
    - avoid-escape
  semi:
    - 2
    - never
  strict:
    - 2
    - never
