{
  "extends": "../.babelrc",

  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "plugins": [
    "transform-class-properties",

    "transform-es2015-classes"
  ],
  "presets": [
    "react"
  ]
}
