@carousel-nav-padding: 10px;

.carousel {
  overflow: hidden;

  &-nav {
    display: flex;
    flex-flow: column;
    justify-content: center;

    position: absolute;
    height: 100%;
    color: white;
    font-family: Arial;
    font-size: 6em;
    text-decoration: none;
    text-shadow: 0 2px 2px #222;
    outline: none;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
    &::before {
      position: relative;
      // TODO: ems
      top: -10px;
    }

    &-next {
      width: 67%;
      right: 0;
      text-align: right;

      &::before {
        content: '›';
        right: @carousel-nav-padding;
      }
    }
    &-prev {
      width: 33%;

      &::before {
        content: '‹';
        left: @carousel-nav-padding;
      }
    }
  }
  &-slides,
  &-slide {
    height: 100%;
  }
  &-slide {
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 3em;

    &-current,
    &-next,
    &-prev {
      display: flex;
      transition: transform 0.3s;
    }
    &-next {
      transform: translate(100%);
    }
    &-prev {
      transform: translate(-100%);
    }

    // Need this after `prev` and `next` rules because
    // server-rendered slide applies all classes (it shouldn't though)
    &-current {
      transform: translate(0);
    }
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
