@import "colors";

@header-background: @gray;
@tagline-color: @pink;

header {
  background: @header-background;
  border-top: 5px solid @yellow;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: flex;
  @media (max-width: 600px) {
    justify-content: space-between;
  }
  @media (min-width: 600px) and (max-width: 1000px) {
    flex-flow: column;
  }
}
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-right: 0;
  color: #b31474;
  font: bolder 0.8rem 'Century Gothic', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  @media (min-width: 600px) {
    padding: 1em;
    padding-bottom: 0;
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
  @media (min-width: 1000px) {
    padding: 0 1em;
    width: auto;
  }

  img {
    height: 3.75em;
  }
}
.logo-company-name {
  display: flex;
  flex-flow: column;
  padding-left: 0.5em;
  @media (min-width: 600px) {
    padding-top: 1.25em;
  }
}

.sub-header {
  clear: both;
  @media (max-width: 500px) {
    display: none;
  }
}
.tagline {
  line-height: 38px;
  color: @tagline-color;
  padding-left: 40px;
  @media (min-width: 600px) {
    padding-left: 100px;
  }
}
.book-session-button {
  float: right;
  text-decoration: none;
}
