@import "colors";

@header-background: @gray;
@tagline-color: @pink;

header {
  background: @header-background;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: flex;
  @media (max-width: 600px) {
    justify-content: space-between;
  }
  @media (min-width: 600px) and (max-width: 1000px) {
    flex-flow: column;
  }
}
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-right: 0;
  color: #b31474;
  font: bolder 'Century Gothic', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  @media (min-width: 600px) {
    padding: 1em;
    padding-bottom: 0;
    width: 100%;
    font-size: 1.25rem;
  }
  @media (min-width: 1000px) {
    padding: 0 1em;
    width: auto;
  }

  img {
    height: 3em;
  }
}
.logo-company-name {
  display: inline-block;
  padding-left: 0.5em;
}

.sub-header {
  background: #3a3a3a;
  @media (min-width: 600px) {
    text-align: center;
  }
  @media (min-width: 1000px) {
    text-align: left;
    text-align: initial;
  }
}
.tagline {
  font-size: 0.8rem;
  line-height: 2.5em;
  color: @tagline-color;
  padding-left: 1rem;
  @media (min-width: 600px) {
    font-size: 1rem;
    font-size: initial;
  }
}
.book-session-button {
  float: right;
  text-decoration: none;
}
