@import "colors";

@body-background: @gray url(/images/main_bg.png);
@content-font-size: 1.25rem;
@text-color: @lighter-gray;
@footer-background: @gray;
@footer-text-color: #696969;

// layout elements
* {
  box-sizing: border-box;
}
body {
  background: @body-background;
  color: @text-color;
}
html, body, main {
  height: 100%;
  overflow: hidden;
}
main {
  display: flex;
  flex-flow: column;
}
footer {
  font-size: 0.8rem;
  background: @footer-background;
  color: @footer-text-color;
  a {
    display: block;
    padding: 1em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


// typographical elements
a {
  color: @text-color;
}
i {
  font-style: normal;
}


// form elements
input,
textarea {
	border: 1px solid #4e4e4e;
	background: #414141;
	padding: 15px 5px 16px 22px;
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	color: #8e8e8e;
	font-size: 20px;
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  padding: 10px;
  background: #707070;
  color: white;
  border: 0;
}
textarea {
  min-height: 5em;
}
