@import "header";

@top-nav-sub-link-padding-vertical: 10px;
@top-nav-sub-link-line-height: 16px;
@top-nav-sub-link-height: (2 * @top-nav-sub-link-padding-vertical +
  @top-nav-sub-link-line-height
);

.top-nav {
  &-control {
    display: none;
    &:checked {
      ~ .top-nav {
        & {
          @media (max-width: 600px) {
            transform: translate(-100%);
          }
        }
        &-control-overlay {
          display: block;
          display: initial;
        }
        &-link {
          background: rgba(0, 0, 0, 0.8);
          @media (min-width: 600px) {
            background: @header-background;
          }
        }

        &-control-overlay-sub {
          @media (max-width: 600px) {
            display: none;
          }
        }
        &-link {

        }
        &-sub {
          &-galleries {
            height: (5 * @top-nav-sub-link-height);
          }
          &-sessions {
            height: (4 * @top-nav-sub-link-height);
          }
        }
      }
    }

    &-icon {
      font-size: 2rem;
      padding: 0 2rem;

      &::before {
        content: '☰';
      }

      @media (min-width: 600px) {
        display: none;
      }
    }
    &-label {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      user-select: none;
      @media (min-width: 600px) {
        flex: 1;

        // IE fix
        display: inline;

        // IE fix
        &-sub {
          display: flex;
        }
      }

      @media (min-width: 1000px) {
        // IE fix
        display: flex;
      }
    }
    &-overlay {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      cursor: default;
      cursor: initial;
    }
  }
  &-link {
    display: block;
    flex: 1;
    width: 100%;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0.3;
    -ms-flex-preferred-size: auto;

    &:hover {
      opacity: 1;
    }
    &.active {
      background: @yellow;

      &:hover {
        color: @light-gray;
        cursor: default;
      }
    }
  }
  &-menu-button {
    @media (min-width: 600px) {
      display: none;
    }
  }
  &-sub {
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: height 0.1s linear;
    @media (min-width: 600px) {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      position: absolute;
      top: 100%;
      right: 0;
      min-width: 100%;
      z-index: 1;
      background: @gray;
    }

    li {
      display: block;

      .top-nav-link {
        padding: @top-nav-sub-link-padding-vertical;
        line-height: @top-nav-sub-link-line-height;
        text-align: center;
        @media (min-width: 600px) {
          text-align: left;
        }
      }
    }
  }

  li {
    position: relative;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > ul > li {
    &,
    & > label {
      & > .top-nav-link {
        padding-top: 36px;
        padding-bottom: 30px;
      }
    }
  }

  @media (min-width: 600px) {
    width: 100%;

    > ul {
      display: flex;

      > li {
        flex: 1;
      }
    }
  }
  @media (max-width: 1000px) {
    > ul {
      > li {
        &,
        & > label {
          & > .top-nav-link {
            padding: 1em 0;
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    flex: 1;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 1;
    transition: all 0.2s;
    background: @header-background;

    > ul {
      > li {
        &,
        & > label {
          & > .top-nav-link {
            padding: 1em;
            width: 100%;
          }
        }
      }
    }
  }
}
