@import "header";

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-nav ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100%;
  z-index: 1;
  background: @gray;
}
.top-nav ul ul li {
  display: block;
}
.top-nav ul ul li .top-nav-link {
  padding: 10px;
  text-align: left;
}
.top-nav li {
  // display: inline-block;
  background: @header-background;
  position: relative;
}
.top-nav li:hover ul {
  visibility: visible;
}
.top-nav > ul > li > .top-nav-link {
  padding-top: 36px;
  padding-bottom: 30px;
}
.top-nav-link {
  display: block;
  color: @light-gray;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.top-nav-link:hover {
  color: white;
}
.top-nav-link.active {
  background: @yellow;
}
.top-nav-link.active:hover {
  color: @light-gray;
  cursor: default;
}
.top-nav-menu-button {
  @media (min-width: 600px) {
    display: none;
  }
}
.top-nav {
  &-control {
    display: none;
    &:checked {
      ~ .top-nav {
        // display: initial;
        transform: translate(-100%);
      }
      ~ .top-nav-control-overlay {
        display: initial;
      }
    }

    &-icon {
      align-self: center;
      font-size: 2em;
      padding: 0 1em;

      &::before {
        content: '☰';
      }

      @media (min-width: 600px) {
        display: none;
      }
    }
    &-label {
      display: flex;
      cursor: pointer;
      position: relative;
      user-select: none;
      @media (min-width: 600px) {
        flex: 1;
      }
    }
    &-overlay {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      cursor: initial;
    }
  }

  @media (min-width: 600px) {
    width: 100%;

    > ul {
      display: flex;

      > li {
        flex: 1;
      }
    }
  }
  @media (max-width: 1000px) {
    > ul {
      > li {
        .top-nav-link {
          padding: 20px 0;
        }
      }
    }
  }
  @media (max-width: 600px) {
    flex: 1;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 1;
    transition: all 0.2s;

    > ul {
      > li {
        .top-nav-link {
          padding: 20px;
          width: auto;
        }
      }
    }
  }
}
